body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E9EAF6;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: black;
    border-bottom: 1px solid #ccc;
}

header h1 {
    font-size: 24px;
    margin-left: 100px;
    font-weight: bold;
    color: white;
}
span{
    font-weight: 200;
}

header button {
    background-color: #191a1b;
    font-size: 24px;
    color: white;
    border: 1px solid white;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
}

header .sign-in {
    background-color: #4C5FD5;
    color: white;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 100px;
    font-size: 24px;
}

header .sign-in:hover {
    background-color: white;
    color: black;
    border: 1px solid black; /* Optional: Add a border to match the hover style */
    transition-duration: 0.5s;

}


main h2 {
    font-size: 70px;
    margin-bottom: 20px;
    text-align: center;
    color: #000;
    font-weight: 100;
    margin: 0 auto;
}

.search-bar {
    width: 700px;
    height: 65px;
    margin: 20px 0;
    display: flex;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
}

.search-bar input {
    width: 100%;
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.help-section{
    background-color: #dadbf1;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 20px;
    padding: 20px;
}

.grid-item {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.grid-item img {
    width: 40px;
    margin-bottom: 15px;
}

.grid-item h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #000;
}

.grid-item p {
    font-size: 14px;
    margin-bottom: 10px;
    color: #666;
}

.grid-item a {
    color: #4C5fd5;
    text-decoration: none;
    font-size: 14px;
}

footer {
    background-color: black;
    padding: 20px;
    border-top: 1px solid black;
}

footer .columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

footer .column {
    flex: 1;
    margin: 10px;
}

footer .column h4 {
    font-size: 16px;
    margin-bottom: 10px;
    color: white;
}

footer .column ul {
    list-style: none;
    padding: 0;
}

footer .column ul li {
    margin-bottom: 5px;
}

footer .column ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

footer p {
    text-align: center;
    font-size: 14px;
    color: #fff;
}

footer ul a {
    color: #fff;
    text-decoration: none;
}
